.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.navbar-logo img {
  height: 50px; /* Adjust as needed */
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-item {
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}

.navbar-item:hover {
  text-decoration: underline;
}

.navbar-search {
  padding: 5px;
  margin-right: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.navbar-signin {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-signin:hover {
  background-color: #0056b3;
}
